[submodule "bundle/kchmck-vim-coffee-script"]
	path = bundle/kchmck-vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/tpope-vim-rails"]
	path = bundle/tpope-vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/raimondi-delimitmate"]
	path = bundle/raimondi-delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/oscarh-vimerl"]
	path = bundle/oscarh-vimerl
	url = git://github.com/oscarh/vimerl.git
[submodule "bundle/tpope-vim-unimpaired"]
	path = bundle/tpope-vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/tpope-vim-rake"]
	path = bundle/tpope-vim-rake
	url = git://github.com/tpope/vim-rake.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = git://github.com/markabe/bufexplorer.git
[submodule "bundle/msanders-cocoa"]
	path = bundle/msanders-cocoa
	url = http://github.com/msanders/cocoa.vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "bundle-vim-textobj-rubyblock"]
	path = bundle-vim-textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/vim-textobj-rubyblock"]
	path = bundle/vim-textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/lustyjuggler"]
	path = bundle/lustyjuggler
	url = https://github.com/vim-scripts/LustyJuggler.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/godlygeek-tabular"]
	path = bundle/godlygeek-tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/scrooloose-syntastic"]
	path = bundle/scrooloose-syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-preview"]
	path = bundle/vim-preview
	url = https://github.com/greyblake/vim-preview.git
[submodule "bundle/VOom"]
	path = bundle/VOom
	url = https://github.com/vim-scripts/VOoM.git
[submodule "bundle/scrooloose-nerdtree"]
	path = bundle/scrooloose-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/jistr-nerdtree-tabs"]
	path = bundle/jistr-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/sjl-gundo"]
	path = bundle/sjl-gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/gregsexton-gitv"]
	path = bundle/gregsexton-gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "bundle/kana-vim-textobj-lastpat"]
	path = bundle/kana-vim-textobj-lastpat
	url = https://github.com/kana/vim-textobj-lastpat.git
[submodule "bundle/vim-haskell"]
	path = bundle/vim-haskell
	url = git://github.com/wlangstroth/vim-haskell.git
[submodule "bundle/vim-haskellFold"]
	path = bundle/vim-haskellFold
	url = git://github.com/Twinside/vim-haskellFold.git
